/**
 * 分页栏
 */

@import "~styles/utils";

.rc-smart-pagination {
  padding: 6px 8px;
  background: #e9e9e9;
  border-radius: 0 0 4px 4px;
  @extend .clearfix;
  
  .rc-smart-pagination-total,
  .rc-smart-pagination-main {
    display: inline-block;
  }

  .rc-smart-pagination-total {
    line-height: 32px;
  }

  .rc-smart-pagination-main {
    float: right;
    li {
      display: inline-block;
      padding: 6px 12px;
      border: 1px solid #ccc;
      background-color: $white;
      cursor: pointer;

      &.active {
        color: #fff;
        background-color: #00bcd4;
      }
    }
  }
}