/**
 * 分页栏
 */

@import "~@/styles/main";

.pagination {
  padding: 16px 8px;
  // border: $border;
  border-top: none;
  border-radius: 0 0 6px 6px;
  background-color: $white;
  @extend .clearfix;
  
  .pagination-record,
  .pagination-num, 
  .pagination-goto {
    display: inline-block;
  }

  .pagination-record {
    line-height: 32px;
  }

  .pagination-main {
    float: right;
  }

  .pagination-num {
    margin-right: 10px;
    li {
      display: inline-block;
      margin: 0 2px;
      padding: 5px 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      
      font-size: 12px;
      background-color: $white;
      
      cursor: pointer;

      &:hover, &.active {
        // background-color: darken($white, 5%);
        border-color: $primary-color;
      }

      &.active {
        color: #fff;
        background-color: $primary-color;
      }
    }
  }

  .pagination-input {
    width: 45px;
  }
}