@import "~styles/main";

.input {
  height: 28px;
  padding: 4px 7px;
  border: $border;
  border-radius: 6px;
  font-size: 12px;
  line-height: 1.5;
  color: #666;

  &[disabled] {
    background-color: #f3f3f3;
    cursor: not-allowed;
  }
}