{
	"presets": [
		["env", { "modules": false }],
		"stage-2",
		"react"
	],
	"env": {
		"development": {
			// "presets": ["react-hmre"],
			// "plugins": ["react-hot-loader/babel"]
			"plugins": [["react-transform", {
				"transforms": [{
					"transform": "react-transform-hmr",
					"imports": ["react"],
					"locals": ["module"]
				}]
			}]]
		}
	},
	"plugins": [
		"transform-runtime",
		"transform-decorators-legacy",
	]
}