<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>react framework</title>
	<script src="./build/assetsmap-<%= htmlWebpackPlugin.options.version %>.js"></script>
</head>
<body>
	<div id="home"></div>
	
	<script>
		depend.config({
			baseUrl: './build/<%= htmlWebpackPlugin.options.dir %>'
		});
		home.init();
	</script>
</body>
</html>