<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>react framework</title>
	<script src="./node_modules/requirejs/require.js"></script>
	<script src="./build/<%= htmlWebpackPlugin.options.dir %>/common.js"></script>
	<script>
		require.config({
			baseUrl: './build/dev/'
		});
		window._define = define;
	</script>
</head>
<body>
	<h1><%= htmlWebpackPlugin.options.title %></h1>
	<div id="hello"></div>
	<div id="form"></div>
	<div id="dialog"></div>
	<div id="menu"></div>
	<div id="page"></div>
	<div id="pageTab"></div>

	<script src="./build/<%= htmlWebpackPlugin.options.dir %>/home.js"></script>
</body>
</html>