/**
 * 表单
 */

@import "~@/styles/main";

.form {
  &.form-inline {
    .form-item {
      .form-item-label {
        min-width: auto;
      }
    }
  }
  
  // 表单元素
  .form-item {
    display: inline-block;
    vertical-align: middle;
    min-height: 54px;
    padding: 10px;
    padding-bottom: 0;

    .form-item-label {
      display: inline-block;
      line-height: 29px;
      min-width: 100px;
      text-align: right;
      vertical-align: top;
      padding-left: 8px;
      padding-right: 8px;

      &.required:before {
        content: "*";
        margin: 1px;
        font-weight: bold;
        color: $danger-color;
      }
    }

    .form-item-control {
      display: inline-block;
    }
  }

  .form-item-group {
    @for $i from 1 through 5 {
      &.form-item-group-#{$i} {
        .form-item {
          width: 100% / $i;
        }
      }
    }
  }
}