/**
 * 表单
 */

@import "~styles/main";

.rc-smart-form {
  &.rc-smart-form-inline {
    .rc-smart-form-item {
      display: inline-block;

      .rc-smart-form-item-label {
        min-width: auto;
      }
    }
  }
  
  // 表单元素
  .rc-smart-form-item {
    padding: 10px;

    .rc-smart-form-item-label {
      line-height: 24px;
      display: inline-block;
      min-width: 100px;
      text-align: right;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}