/**
 * tabs
 */

@import "~@/styles/main";

.tabs {
  .tabs-header {

  }

  .tabs-tab {
    display: inline-block;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;

    &.active {
      // display: block;
      color: white;
      background: $primary-color;
    }
  }
  
  .tabs-pane {
    display: none;
    padding: 5px;
    
    &.active {
      display: block;
    }
  }
}