/**
 * 按钮切换
 */

@import "~@/styles/main";

.switch {
  display: inline-block;
  // margin: 2px;
  line-height: 0;
  cursor: pointer;

  input[type="checkbox"] {
    display: none !important;

    &:checked + .switch-inner {
      border-color: $primary-color;
      background-color: $primary-color;

      &:after {
        left: auto;
        right: 0;
      }
      
      .switch-checked {
        display: block;
      }
      .switch-unchecked {
        display: none;
      }
    }

    &:disabled + .switch-inner {
      background-color: #f4f4f4;
      border-color: #f4f4f4;

      &:after {
        background-color: #ccc;
      }
      cursor: not-allowed;
    }
  }

  .switch-inner {
    display: inline-block;
    position: relative;
    min-width: 50px;
    height: 28px;
    border: $border;
    border-width: 2px;
    border-radius: 14px;
    background-color: #c0c0c0;

    overflow: hidden;

    &:after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      right: auto;

      width: 24px;
      height: 24px;
      border-radius: 50%;

      background-color: $white;
    }

    .switch-checked,
    .switch-unchecked {
      font-size: 12px;
      color: $white;
      padding: 5px;
      text-align: center;
    }
    .switch-checked {
      display: none;
      margin-right: 22px;
    }
    .switch-unchecked {
      margin-left: 22px;
    }
  }
}