/**
 * 下拉框
 */

@import "~styles/main";

.select {
  width: 162px;
  height: 28px;
  padding: 4px 7px;
  border: $border;
  border-radius: 6px;
  font-size: 12px;
  line-height: 1.5;
  color: #666;

  @extend %form-disabled;
}