/**
 * 左侧菜单
 */

@import "~styles/main";

.menu {
  float: left;
  width: 200px;
  // height: calc(100vh - 46px);
  border-right: $border;
  margin-top: 20px;
  background-color: $white;
  // padding: 10px;
  // border-right: $border;
  // background-color: #39434d;

  ul {
    li {
      padding: 8px 15px;
      border-radius: 2px;
      // color: $white;
      cursor: pointer;

      &.active {
        position: relative;
        background: #f5f5f5;
        // color: white;

        &:after {
          content: "";
          position: absolute;

          right: 0;
          top: 0;

          width: 3px;
          height: 100%;

          background-color: #10a5ba;
        }
      }
    }
  }
}