<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>react framework</title>
	<!-- bundle-loader -->
	<!-- <script src="./<%= htmlWebpackPlugin.options.dir %>/assetsmap-<%= htmlWebpackPlugin.options.version %>.js"></script> -->
</head>
<body>
	<div id="home"></div>
	
	<script>
		/*depend.config({
			baseUrl: './<%= htmlWebpackPlugin.options.dir %>'
		});*/
		home.init();
	</script>
</body>
</html>