/**
 * dialog style
 */

$border: 1px solid #ccc;

.dialog {
	position: absolute;
	left: 50%;
	top: 50%;
	min-width: 200px;
	min-height: 120px;
	border: $border;
	transform: translate(-50%, -50%);

	footer {
		text-align: center;
	}
}