/**
 * 主页
 */

@import "normalize";
@import "reset";


.menu {
	float: left;
	width: 200px;
  padding: 10px;
  border: 1px solid #ccc;

  ul {
  	li {
  		padding: 4px 6px;
  		cursor: pointer;

  		&.active {
				background: #e0f0d8;
  		}
  	}
  }
}

.content {
	// float: left;

  min-width: 500px;
  min-height: 500px;
	padding: 10px;
  margin-left: 230px;
  border: 1px solid #ccc;

	.content-header {
		> div {
			display: inline-block;
		  border: 1px solid #ccc;
		  padding: 4px;
		  margin: 2px;
		}

		.selected {
			background: #00BCD4;
			color: white;
		}

		.close {
			font-weight: bold;
			cursor: pointer;
		}

		.content-header-title {
			display: inline-block;
			cursor: pointer;
		}
	}
}