/**
 * 页面标签
 */

.content {
  // float: left;

  // min-width: 500px;
  // min-height: 500px;
  // height: calc(100vh - 46px);
  // padding: 10px;
  margin-left: 200px;
  // border: 1px solid #ccc;

  .content-header {
    // padding: 4px;
    display: none;
    
    > .content-header-item {
      display: inline-block;
      width: 30%;
      max-width: 160px;
      padding: 4px;
      margin: 1px;
      // border: 1px solid #ccc;
      // border-radius: 4px;
      background-color: #d7dce4;
      
      color: #6a7379;
      cursor: pointer;

      &:hover {
        background-color: #bdddf6;
      }
    }

    .active {
      background: #0cadff !important;
      color: white;
    }

    .close {
      // font-weight: bold;
      float: right;
      // margin-left: 4px;
      // margin-right: 2px;
      // cursor: pointer;
      // vertical-align: middle;

      margin: -20px 2px 0 4px;
    }

    .content-header-title {
      // display: inline-block;
      // cursor: pointer;
      width: calc(100% - 10px);
      padding-left: 8%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .content-body {
    // overflow: auto;
    .content-body-item {
      padding: 6px;
      // height: calc(100vh - 75px);
      overflow: auto;
    }
  }
}