/**
 * 页面标签
 */

.content {
  // float: left;

  // min-width: 500px;
  // min-height: 500px;
  height: calc(100vh - 46px);
  // padding: 10px;
  margin-left: 220px;
  // border: 1px solid #ccc;

  .content-header {
    padding: 4px;
    > div {
      display: inline-block;
      padding: 4px;
      margin: 2px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .active {
      background: #1d2224;
      color: white;
    }

    .close {
      // font-weight: bold;
      margin-left: 4px;
      cursor: pointer;
      // vertical-align: middle;
    }

    .content-header-title {
      display: inline-block;
      cursor: pointer;
    }
  }

  .content-body {
    overflow: auto;
    padding: 6px;
  }
}