@font-face {
  font-family: "rc-smart";
  src: url("./fonts/rc-smart.eot");
  src: url("./fonts/rc-smart.eot?#iefix") format("eot"),
    url("./fonts/rc-smart.woff") format("woff"),
    url("./fonts/rc-smart.ttf") format("truetype"),
    url("./fonts/rc-smart.svg#rc-smart") format("svg");
}



.rc-smart-icon:before {
  font-family: "rc-smart";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  /* only necessary if not using the private unicode range (firstGlyph option) */
  speak: none; 
  text-decoration: none;
  text-transform: none;
}


.rc-smart-icon-spinner:before {
  content: "\E001";
}