@import "~@/styles/main";

.tooltip-wrapper {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
}

.tooltip {
  position: absolute;
  left: 0;
  top: 0;

  padding: 10px;
  border-radius: 4px;
  background-color: rgba(0,0,0,.6);
  color: $white;

  &:after {
    content: "";
    opacity: .6;
    position: absolute;
  }

  &.tooltip-placement-top {
    transform: translate(-50%, -100%);
    &:after {
      left: calc(50% - 5px);
      bottom: -8px;
      @include triangle($dir: bottom, $size: 10px 8px, $color: #000);
    }
  }

  &.tooltip-placement-bottom {
    transform: translateX(-50%);
    &:after {
      left: calc(50% - 5px);
      top: -8px;
      @include triangle($dir: top, $size: 10px 8px, $color: #000);
    }
  }

  &.tooltip-placement-left {
    transform: translate(-100%, -50%);
    &:after {
      right: -8px;
      top: calc(50% - 5px);
      @include triangle($dir: right, $size: 8px 10px, $color: #000);
    }
  }

  &.tooltip-placement-right {
    transform: translateY(-50%);
    &:after {
      left: -8px;
      top: calc(50% - 5px);
      @include triangle($dir: left, $size: 8px 10px, $color: #000);
    }
  }
}