/**
 * 主页头部
 */
@import "~@/styles/main";

.header {
  background-color: $white;

  .header-logo {
    padding: 10px;
    font-size: 18px;
    // border-bottom: $border;
    // color: $white;
  }

  .header-user-info {
    float: right;
    margin-top: -34px;
    margin-right: 10px;
    font-size: 14px;
    // color: $white;
  }
}