/**
 * 主页头部
 */

.header {
  
  .header-logo {
    padding: 10px;
    font-size: 18px;
  }

  .header-user-info {
    float: right;
    margin-top: -34px;
    margin-right: 10px;
    font-size: 14px;
  }
}