/**
 * 登录
 */

@import "~styles/utils", "~styles/text";

.login {
  width: 200px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #bbb;
  border-radius: 4px;

  // background-color: #7a8da7;

  button {
    width: 100%;
  }
}