/**
 * 链接
 */

@import "~styles/main";

.link {
  margin: 2px;
  color: $primary-color;
  text-decoration: none;
  
  &:hover {
    // text-decoration: underline;
  }

  &.link-danger {
    color: $red;
  }
}