/**
 * 消息
 */

@import "~styles/utils";

.rc-smart-message-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  

  .rc-smart-message {
    margin: 10px;
    text-align: center;

    .rc-smart-message-content {
      
      display: inline-block;
      padding: 6px;
      border: 1px solid #ccc;
      border-radius: 2px;

      // color: #468847;
      background-color: $white;
    }

    // transform: translateX(-50%);
  }
}